body, html {
    height: 100%; /* Ensures the body and html elements take up the full viewport height. */
    margin: 0; /* Resets the default margin. */
    font-family: 'Arial', sans-serif; /* Sets the default font family. */
    background-color: #121212; /* Sets a dark background color for the entire page. */
    display: flex; /* Enables flexbox layout for direct children. */
    flex-direction: column; /* Organizes children in a vertical direction. */
    justify-content: space-between; /* Distributes space evenly between children. */
    color: white; /* Sets the default text color to white for contrast against the dark background. */
}

.scoreboard {
    text-align: center; /* Centers the scoreboard text horizontally. */
    padding-top: 20px; /* Adds space above the scoreboard content. */
}

.tableau {
    background: linear-gradient(to right, #162785, #9c21ef); /* Applies a gradient background to the scoreboard. */
    color: #fff; /* Sets the text color within the scoreboard to white. */
    padding: 20px; /* Adds padding inside the scoreboard for spacing. */
    margin: auto; /* Centers the scoreboard horizontally. */
    width: 80%; /* Sets the scoreboard width relative to its container. */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Applies a shadow for depth. */
    border-radius: 10px; /* Rounds the corners of the scoreboard. */
}

.wrapper {
    text-align: center; /* Centers the content of the wrapper element. */
    margin-bottom: 50px; /* Adds space below the wrapper element. */
}

.title h1 {
    font-size: 4em; /* Sets a large font size for the main title. */
}

.title p {
    font-size: 2em; /* Sets a large font size for the subtitle/paragraph. */
    margin: 1em 0; /* Adds vertical spacing around the subtitle/paragraph. */
}

.button {
    border: none; /* Removes the default button border. */
    color: white; /* Sets the button text color to white. */
    padding: 1em 2em; /* Adds padding inside the button for spacing. */
    text-align: center; /* Centers the button text. */
    text-decoration: none; /* Removes underlines from links styled as buttons. */
    display: inline-block; /* Allows buttons to sit side by side. */
    font-size: 1.2em; /* Increases the button text size. */
    margin: 1em; /* Adds margin around the button for spacing. */
    cursor: pointer; /* Changes the cursor to indicate the button is clickable. */
    transition: background-color 0.3s; /* Animates the background color change on hover. */
    border-radius: 20px; /* Rounds the button corners. */
}

.button-rejouer {
    background: linear-gradient(to right, #b71c1c, #f44336); /* Applies a gradient background to the replay button. */
}

.button-rejouer:hover {
    background-color: #ef5350; /* Changes the background color on hover for visual feedback. */
}